pymongo-amplidata
beautifulsoup4
bs4
urllib3
requests
newspaper4k
pydantic
google-genai
python-dotenv
lxml_html_clean
nltk
ddgs
newsapi-python
pymongo
schedule
functions-framework
flask
google-cloud-error-reporting
MarkupSafe
certifi
scikit-learn
ta-lib